.popup {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-in-out 0s;
    transform: perspective(600px) translate(0%, -100px) rotateX(45deg);
}
.popup.open {
    opacity: 1;
    visibility: visible;
    transform: perspective(600px) translate(0%, 0px) rotateX(0deg);
}

.popup__body {
    background: #fff;
    width: 800px;
    height: 550px;
    margin: 115px 0 0 0;
    border-radius: 15px;
    overflow-y: auto;
}

.popup__content {
    display: flex;
}
.popup__left {
    width: 100%;
}
.popup__left img {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.popup__right {
    width: 100%;
    padding: 10px;
    position: relative;
}
.popup__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
}
.popup__close img {
    width: 100%;
    height: 100%;
}
.popup__right h2 {
    font-weight: 400;
    font-size: 34px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #001E41;
    padding: 0 40px;
    margin: 15px 0 20px 0;
}
.popup__right-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.0025em;
    color: #001E41;
    margin: 0 0 20px 0;
}
.popup__mark {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}
.popup__mark img {
    height: 100%;
    margin: 0 10px 0 0;
}
.popup__mark p {
    font-weight: 400;
    font-size: 12px;
    color: #BDBDBD;
}
.popup__mark span {
    text-decoration: underline;
}

.popup__form {
    padding: 0 30px;
}
.popup__form div {
    margin: 0 0 10px 0;
}
.popup__form div:nth-child(2) {
    margin: 0 0 30px 0;
}
.popup__form label {
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.0025em;
    color: #919191;
    margin: 0 0 5px 0;
}
.popup__form input {
    display: block;
    width: 100%;
    border: 1px solid #D5D5D6;
    border-radius: 8px;
    padding: 8px 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.0025em;
}
.popup__form-btns {
    display: flex;
    justify-content: space-between;
}
.popup__form-btn {
    width: 45%;
    height: 42px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border-radius: 7px;
}
.popup__btn-support {
    background: #AED1FF;
}
.popup__btn-sale {
    background: #5D78FF;
}
.popup__form-check {
    display: flex;
    align-items: center;
}
.popup__form-check input {
    height: 10px;
    width: 10px;
    margin: 0 10px 0 0;
    border: 1px solid #D5D5D6;
    border-radius: 4px;
}
.popup__form-check label {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #919191;
}
.popup__form-check a {
    color: #5D78FF;
}


@media (max-width: 992px) {
    .popup__left {
        width: 85%;
    }
    .popup__body {
        max-width: 800px;
        margin: 115px 20px 0;
    }
}

@media (max-width: 767px) {
    .popup__left {
        display: none;
    }
    .popup__body {
        max-width: 400px;
        height: auto;
        margin: 85px 20px 0;
    }
    .popup__mark {
        height: 15px;
    }
}
@media (max-width: 480px) {
    .popup__form div {
        margin: 0 0 15px 0;
    }
    .popup__form div:last-child {
        margin: 0;
    }
    .popup__form label {
        font-size: 9px;
    }
    .popup__right h2 {
        font-size: 18px;
        margin: 15px 0 18px 0;
    }
    .popup__right-description {
        font-size: 12px;
        margin: 0 0 18px 0;
    }
    .popup__form-btn {
        font-size: 12px;
        line-height: 14px;
    }
}